# My Data Science Notebook

## Introduction

This notebook highlights some of the essential elements of data science, including programming languages, libraries, tools, and basic code examples using Python.

## Data Science Languages

Some of the most popular languages used in data science include:

- R  
- Python 
- SQL

## Data Science Libraries

Key libraries used in data science include:

- Pandas  
- NumPy  
- Scikit-learn  
- Matplotlib  
- TensorFlow

## Data Science Tools

| Tool             | Description                            |
|------------------|----------------------------------------|
| Jupyter Notebook | Web-based coding environment           |
| RStudio          | IDE for R programming                  |
| Apache Spark     | Distributed big data processing engine |

## Examples of Arithmetic Expressions

Below is a simple example of how Python can be used to perform arithmetic operations.

In [7]:
# Multiply and add numbers
result = (3 * 4) + 5
result

17

In [8]:
# Convert 200 minutes into hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Objectives

The objectives of this notebook are to:

- Demonstrate basic markdown formatting  
- List popular languages and libraries used in data science  
- Show examples of code with arithmetic expressions  
- Convert time using Python code

## Author

Nicolas A Sanchez Diaz